{
    "vk": {
        "client_id": null,
        "client_secret": null,
        "redirect_url": "http://localhost:8001/debug.php",
        "access_token": null,
        "display": "popup",
        "scope": 2,
        "response_type": "code",
        "v": "5.53"
    }
}